.deviceid-container {
    height: 100%;
}

.add-btn {
    float: right;
}

.deviceid-div {
    width: 90%;
    overflow: hidden;
    margin: auto;
    margin-top: -22px;
}

.headwithbtn {
    display: flex;
    position: relative;
}

.headwithbtn h3 {
    width: 500px;
}

.headwithbtn button {
    position: absolute;
    right: 0;
}

.editbtn {
    border: none;
    background: transparent;
}

.editbtnimg {
    height: 30px;
    width: 30px;
}



@media screen and (max-width:350px){
    .headwithbtn h3 {
      font-size: 17px;
      margin: 0;
      /* border: 2px solid red; */
    }
}