.AssetDash {
    width: 99%;
    margin: 18px 8px;
    /* min-height: 70vh; */
    /* border: 1px solid red; */
    max-width: 100%;
    /* border: 2px solid red; */
}

.AssetDash .Asset_cards {
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content:space-between;
}
.Asset_cards .card1 {
    width: 31%;
    height: 103px;
    padding: 8px 10px;
    background:white;
    box-shadow: 2px 2px 5px silver;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-around;
}
.asset-inner-card{
    width: 30%;
    border-radius: 5px;
 }

.all_graph{
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
    /* border: 2px solid BLUE; */
}
.AssetDash .for_graph {
    width: 65%;
    /* border: 2px solid red; */
}
.AssetDash  .asset-sidebar{
    width: 32%;
    height: 50vh;
    background: url('../../../image/graph.webp');
    background-size: 100% 100%;
    box-shadow: 1px 1px 10px silver;
    border-radius: 5px;
}
.graph_2nd_row {
    height: 55%;
    display: flex;
    justify-content:space-between;
    position: relative;
    margin-top: 40px;
}
.manufacturer_graph{
    background: white;
    position: relative;
    box-shadow: 1px 1px 8px silver;
    border-radius: 5px;
    height: 35vh;
    /* width: 95%; */
}
.bar_location{
    position:relative;
    margin-top: 20px;
    background: white;
    box-shadow: 1px 1px 10px silver;
    border-radius: 5px;
    height: 35vh;
}
.it-bar{
    background: linear-gradient(45deg, rgb(68, 97, 240), rgb(37, 63, 196));
    box-shadow: 2px 2px 10px silver;
    top: -12%;
    width: 95%;
    left: 2.5%;
    border-radius:5px;
    position: absolute;
}
.manu_pie{
    background: linear-gradient(45deg, #c9c7c7, #dbdbdb);
    /* box-shadow: 2px 2px 10px silver; */
    top: -6.5%;
    width: 93.5%;
    left: 3.2%;
    position: absolute;
    border-radius: 5px;
  }
  .software_graph{
    box-shadow: 1px 1px 10px silver;
    border-radius: 5px;
    position: relative;
    background: white;
    /* border: 1px solid green; */
  }
  .soft_bar{
    position:absolute;
    background:linear-gradient(45deg, #e55454, #e57272);
    box-shadow:2px 2px 10px silver;
    top: -6.5%;
    width: 93.5%;
    left: 3.2%;
    border-radius: 5px;
  }
@media only screen and (max-width: 960px) {
    .asset-inner-card{
        width: 100%;
     }
     .all_graph{
        display: block;
    }
    .AssetDash  .asset-sidebar{
        width: 97%;
        margin: 15px 0;
    }
 
}
 /* @media only screen and (max-width: 870px) {
    .graph_2nd_row {
        display: block;
    }
    .software_graph{
        width: 100%;
        border: 1px solid yellow;
    }
    .manufacturer_graph{
        width: 100%;
        border: 1px solid yellow;
    }
    .soft_bar{
    }
    .manu_pie{
    }
}  */

@media only screen and (max-width: 600px) {
    .AssetDash .Asset_cards {
        display: block;
    }
    .Asset_cards .card1 {
        width:100%;
        justify-content: space-around;
        margin:10px 0;
        height: 83px;
    }
    .asset-inner-card{
        width: 30%;
     }
     .dash_card_icon_div {
        margin-top: 20px;
    }
}



.AssetDash .Asset_card2 {
    width: 90%;
    height: 18%;
    margin:3px  auto;
} 


.bar_location {
    margin: 0 5px 5px 5px;
    min-height: 45%;
    width: 98.5%;
    box-shadow: 2px 2px 10px silver;
}
.it-bar{
    width: 90%;
    /* border: 2px solid red; */
    margin: auto;
}





.manufacturer_graph {
    width: 48%;
    margin: 0 5px 5px 5px;
    box-shadow: 2px 2px 10px silver;

}

.manu_pie{
    width: 90%;
    margin: auto;
    /* top:-10% */

}

.software_graph {
    width: 48%;
    margin: 0 5px 5px 5px;
    box-shadow: 2px 2px 10px silver;
    height: 100%;
}

.soft_bar {
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .AssetDash {
        flex-direction: column;
    }


    .AssetDash .for_graph {
        width: 99%;
    }
}

/* cards */



.dash_card_head {
    font-weight: 700;
    color: #30305f;
}

.dash_card_para {
    font-size: 16px;
    color: #6a6a6a;
} 




.dash_card_icon_div {
    /* background: rgba(0, 0, 0, 0.4); */
    height: 66px;
    width: 66px;
    padding: 10px;
    left: 10%;
    top: -27%;
    box-shadow: 2px 2px 15px silver;
}
.Asset_cards .card1 .asset-inner-card .dash_card_icon_div:nth-child(1) {
    background: linear-gradient(45deg, rgb(255, 107, 107), rgb(215, 62, 62));
}
.Asset_cards .card1 .asset-inner-card .activedev1:nth-child(1) {
    background: linear-gradient(45deg, rgb(68, 97, 240), rgb(37, 63, 196));
}
.Asset_cards .card1 .asset-inner-card .rentdev1:nth-child(1) {
    background: linear-gradient(45deg, rgb(55, 55, 55), rgb(121, 118, 113))
}

.dash_card_icon_div .icon {
    font-size: 44px;
    color: #fff;
}
.dashboard_cards {
    display: flex;
}

 @media only screen and (min-width: 0px) and (max-width: 970px) {

    .dashboard_cards .card1 {
        width: 22%;
        margin: 10px 0;
    }
}
@media only screen and (max-width: 700px) {
    .dash_card_icon_div {
        height: 44px;
        width: 44px;
        right: 5%;
    }
    .dash_card_icon_div .icon {
        font-size: 23px;
    }
}