.home_container{
        min-height: 80vh;
        max-width: 100%;
        box-shadow: 2px 1px 10px gray,-3px -3px 10px gray;
        border-radius: 10px 0px 0px 10px;
        background-size: 100% 100%;
        padding: 23px;
}
/* ====================================================== */
/* .home_logo{
    width: 300px;
}
.home_container p{
    width: 55%;
    margin: 20px 30px;
}
.home_container h1{
    margin: 20px 30px; 
}
@media screen and (min-height:650px) {
    .home_container{
        min-height: 81vh;
    }
}
@media screen and (min-height:720px) {
    .home_container{
        min-height: 82vh;
    }
}
@media screen and (min-height:760px) {
    .home_container{
        min-height: 84vh;
    }
}
@media screen and (min-height:890px) {
    .home_container{
        min-height: 86vh;
    }
}
@media screen and (min-width:750px) {
    .home_container{
       background:url("../../../image/homebgnew.png");
       background-size: 100% 100%;
}
}
@media screen and (min-width:488px) and (max-width:750px){
    .home_container{
       background:url("../../../image/homebgnew2.png");
       background-size: 100% 100%;
       
    }
    .home_container p{
        width: 95%;
        margin: 20px 30px;
    }
    .home_container{
        padding: 18px 5px;
}
.home_logo{
    width: 200px;
}
}
@media screen and (min-width:0px) and (max-width:488px){
    .home_container{
       background:url("../../../image/homebgnew3.png");
       background-size: 100% 100%;
}
.home_container p{
    width: 80%;
    margin: 10px 30px;
}
.home_container{
    padding: 10px 5px;
}
.home_logo{
width: 150px;
}

} */
/* ================================================ */
.card{
    transition: transform 0.2s;
    box-shadow: 2px 2px 7px 1px gray;
    box-shadow: 2px 2px 7px 1px gray;
    border: none;
}
.home_container .cards{
    /* border: 1px solid black; */
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
   
}
.home_container .cards #above_card{
  margin: auto;
  width: 31%;
  min-height: 200px;
}
.home_container .cards #center_card1{
    width: 60%;
    min-height: 270px;
    margin:0 12px;
}
.home_container .cards #center_card2{
    margin: 0 12px; 
    width: 40%;
    min-height: 270px;
}
.card:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
  }