
.dashboard_container {
    min-height: 79vh;
    max-width: 100%;
}

.dashboard_cards{
    width: 100%;
}
.dashboard_cards .dash_toggle_btns {
    margin: 14px 40px;
    overflow: hidden;
}

.dashboard_cards .dash_toggle_btns .dash_toggle_btn {
   background: linear-gradient(45deg, rgba(137, 108, 224, 0.6), #4d3dad);
    padding:5px 20px;
    border: 1px solid #000;
    font-size: 14px;
    color:white;
    border-radius: 15px;
    margin: 0px 5px;
    
}


@media screen and (max-width:1200px) {
    .dashboard_container {
        min-height: 87.3vh;
    }
}

@media screen and (max-width:800px) {
    .dashboard_container {
        min-height: 87.3vh;

    }
}
@media screen and (min-width:470px) and (max-width:850px) {
    .dashboard_cards .dash_toggle_btns .dash_toggle_btn {
         padding:5px 15px;
         font-size: 14px;
     }
}
@media screen and (min-width:390px) and (max-width:470px) {
    .dashboard_cards .dash_toggle_btns {
        width: 100%;
        margin: 10px 0px 5px 0px;
    }
    .dashboard_cards .dash_toggle_btns .dash_toggle_btn {
         padding:5px 12px;
         font-size: 12px;
     }
}
@media screen and (min-width:0px) and (max-width:390px) {
    .dashboard_cards .dash_toggle_btns {
        margin: 15px 0px 2px 0px;
    }
    .dashboard_cards .dash_toggle_btns .dash_toggle_btn {
         padding:4px 10px;
     }
}


@media screen and (min-height:850px) {
    .dashboard_container {
        min-height: 85vh;
    }
}

@media screen and (min-height:1000px) {
    .dashboard_container {
        min-height: 90vh;
    }
}

@media screen and (min-height:735px) {
    .dashboard_container {
        min-height: 81vh;
    }
}


