.wrappar{
    display: flex;
}
.dynamic-text{
    list-style: none;
    overflow: hidden;
    /* line-height: 90px; */
}
.dynamic-text li{
    position: relative;
    font-size: 25px;
    color: rgb(153, 38, 38);
    margin-top: 13px;
    font-weight: 600;
    
}

.dynamic-text li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 3px solid #4e4f52;
    left:0;
    animation: typing 3s steps(15) infinite;
    background:white;
}
@keyframes typing{
    40%,60%{
        left: calc(100% + 30px)
    }
    100% {
        left:0
    }
}