.deviceid-container{
    height: 100%;
    padding: 30px;
}


.add-btn{
    float: right;
}

.deviceid-div{
    width: 90%;
    height: 90%;
    /* border:2px solid red; */
    margin:20px auto;
    overflow: hidden;
}
.editbtn{
    border: none;
    background: transparent;
}
.editbtnimg{
    height: 30px;
    width: 30px;
}