/* .add_series_container{
    min-height: 79vh;
}
#main{
    background: url("../../../../image/themeimg.jpg");
    background-size: 100% 100%;
}

.add-card-div {
    width: 60%;
    margin:10px auto 10px;
    background: rgb(227, 227, 229);
    box-shadow: 1px 1px 5px 1px rgb(104, 103, 103);
    border-radius:5px ;

}
.add-card-div input{
    border: none;
    border-bottom: 2px solid rgb(130, 121, 177);
    background: none;
}
.add-card-div input:focus{
    background:none;
}
.add-card-div textarea{
    border-bottom: 2px solid rgb(130, 121, 177);
    background: none;
}
.add-card-div textarea:focus{
    background: none;
}
@media screen and (max-width:800px) {
    .add-card-div {
        width: 85%;
        margin:20px auto;
    }
} */
