* {
    margin: 0%;
    padding: 0;
}

.sidebarcontainer {
    display: flex;
    background: #eee;
    /* width: 100vw; */
    height: 100%;
    /* overflow: auto; */
    /* border: 2px solid green; */
    font-family: 'Roboto'; 
}

.sidebarcontainer .innersidebar{
    border: 2px solid blue;
}
.sidebar {
    background: #fff;
    color: #000;
    height: 100%;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    width: 50px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 2px 0px 10px gray;
    border-radius: 0px 10px 10px 0px;
    z-index: 10000;
  
    /* border: 2px solid rgb(0, 38, 255); */
}
/* .sidebar:hover{
    background: #fff;
    color: #000;
    min-height: 100vh;
    max-height: 100vh;
    position: fixed;
    transition: all 0.5s;
    width: 240px;
    box-shadow: 2px 0px 10px gray;
    border-radius: 0px 10px 10px 0px;
    z-index: 10000;
    overflow: hidden;
} */

.sidebaropen {
    /* background: #fff;
    color: #000;
    min-height: 100vh;
    position: fixed;
    transition: all 0.5s;
    width: 240px;
    box-shadow: 2px 0px 10px gray;
    border-radius: 0px 10px 10px 0px;
    z-index: 10000; */
   
    background: #fff;
    color: #000;
    min-height: 100%;
    max-height: 100%;
    position: fixed;
    transition: all 0.5s;
    width: 244px;
    box-shadow: 2px 0px 10px gray;
    border-radius: 0px 10px 10px 0px;
    z-index: 10000;
    overflow: hidden;
    /* border: 2px solid red; */

}

.internalsidebar {
    overflow: auto;
    height: 90vh;
    position: relative;
}
.sidebarcontainer .ul {
    padding: 0%;
}

.sidebarcontainer .ul .li {
    list-style: none;
}
.innerdiv .ul {
    padding: 0%;
}
.innerdiv .ul .li {
    list-style: none;
}
.sidebarinerabc{

    overflow:auto;
    max-height: 83.2vh;
}

.navlink {
    text-decoration: none;
    font-size: 16px;
}

.navlink:active{
  background: #603AE9;

  color:#000;
}
.main {
    max-width: 96.5%;
    width: 100%;
    height: 100%;
    margin-left: 54px;
    /* margin-bottom: 10px; */
    padding: 5px 0px 5px 10px;
    transition: all 0.5s;
    /* border: 2px solid red; */

}

.mainopen {
    width: 95%;
    height: 100%;
    margin-left: 245px;
    /* margin-bottom: 10px; */
    padding: 5px 0px 0px 10px;
    transition: all 0.5s;
    /* border: 2px solid red; */

}

.top_section {
    display: flex;
    align-items: center;
    padding: 15px 10px;

}

/* .logo {
    font-size: 1.6rem;
    transition: all 0.7s;
} */

.bars {
    display: flex;
    font-size: 1.2rem;
    transition: all 0.5s;
}

.link {
    display: flex;
    color: #000;
    padding: 10px 15px;
    gap: 15px;
    height: 45px;
    overflow: hidden;
    transition: all 0.5s;
    text-decoration: none;
}



.link:hover {
    background: #c6b6f3;
    color: #603AE9;
    /* font-weight: 700; */
    transition: all 0.7s;
}

.active {
    background: #603AE9;
    color: #fff;
    /* font-weight: 700; */
}


.innerlink {
    margin-left: 10%;
    list-style: none;
    padding: 5px;
    font-size: 1.2rem;
}

.innerlink:not(:last-child) {
    border-bottom: 1px solid #000;
}

.innerlink:hover {
    background: #B0AEF3;
    color: #603AE9;
    transition: all 0.7s;
}
.innerlink  {
    margin-left: 0px;
}

.inneruldiv {
    overflow: hidden;
    display: none;
    width: 100%;
    transition: all 1.7s;
}

.icon,
.link_text {
    font-size: 1.0rem;
}

.footer_section {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 40px;
}

.footer_section .footer_icon {
    font-size: 1.3rem;
    color: #603AE9;
}


@media screen and (max-width:800px) {

    .mainopen {
        margin-left: 50px;
    }

    .sidebar,
    .sidebaropen {
        z-index: 1000000;
    }

    .logo {
        font-size: 25px;
    }
}

@media screen and (min-width:0px) and (max-width:300px) {
    .sidebar {
        width: 30px;
    }

    .sidebaropen {
        width: 100%;
    }

    .main {
        margin-left: 30px;
    }

    .top_section {
        padding: 20px 5px;
    }

    .link {
        padding: 10px 8px;
    }

}