.dashboard-div {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('../../img/awlbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-div {
    width: 18rem;
}

.card-title {
    background-color: silver;
    color: black;
    border-radius: 6px;
    padding: 0 6px;
}

@media screen and (min-width:700px) {
    .dashboard-div {height:89.6vh}
}
@media screen and (max-width:481px){
    .dashboard-div {height:87vh}
}