.outstanding-container .oustanding-details {
    width: 28%;
}

.outstanding-container .oustanding-details .outstanding-top-detail-div {
    height: 100px;
}

.outstanding-totalinv {
    width: 35%;
    padding: 10px;
}

.outstanding-totalamt {
    width: 61%;
}

/* .outstanding-totalhead {
    font-size: 18px;
    border: 2px solid red;
} */
.outstanding-sub-table {
    max-height: 47vh;
}

.outstanding-container .outstanding-table {
    width: 70%;
}

.outstanding-container .outstanding-table .outstanding-table-inner {
    min-height: 62vh;
    max-height: 62vh;
}




.Outstanding_details_table th {
    font-size: 12px;

}

.Outstanding_details_table td {
    font-size: 12px;
    font-weight: 400;
}

.rows_per_page {
    padding: 10px;
}

.rows_per_page select {
    height: 20px;
    background: #193992;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.rows_per_page select:hover {
    background: #112c76;
}

.rows_per_page label {
    font-size: 14px;
    color: #30305f
}

.pagination>li {
    display: inline-block;
    padding-left: 0;
    margin-top: 7px;
}

.pagination>li {
    list-style: none;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 4px 12px;
    line-height: 1.5;
    color: #1e3992;
    background-color: #fff;
    border: 1px solid #ddd;
    height: 33px;
}

.pagination>li.active>a {
    color: #fff;
    background-color: #1e3992;
    border-color: #1e3992;
}

.nextoutstanding_AnimationBtn {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 20px 0px 30px;
    z-index: 0;
}

.nextoutstanding_AnimationBtn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: -5px;
    background: #3356d1;
    transform: skewX(30deg);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nextoutstanding_AnimationBtn:hover::before {
    transform: skewX(0deg);
    left: 50%;
    top: 0;
}

.nextoutstanding_AnimationBtn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 51%;
    top: 5px;
    background-color: #6664e9;
    transform: skewX(30deg);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nextoutstanding_AnimationBtn:hover::after {
    transform: skewX(0deg);
    left: 0%;
    top: 0;
}
.top-upper-btn {
    width: 350px;
    display:none;
    margin:30px auto 20px auto;
}

@media screen and (max-width:900px) {
    .outstanding-container {
        flex-direction: column;
    }

    .outstanding-container .oustanding-details {
        width: 100%;
        padding: 0px 2%;
    }

    .outstanding-container .outstanding-table {
        width: 96%;
        margin-top: 6%;
    }

    .upper-btn {
        display: none;
    }
    .top-upper-btn {
        display:block;
    }
}

@media screen and (max-width:450px) {
    .top-upper-btn {
        width: 250px;
       
    }
}
@media screen and (max-width:400px) {
    .top-upper-btn {
        width: 150px;
    }
}