.outstanding-container .oustanding-details {
    width: 25%;
}

.outstanding-container .oustanding-details .outstanding-top-detail-div {
    height: 100px;
}

.outstanding-totalinv {
    width: 35%;
}

.outstanding-totalamt {
    width: 61%;
}

.outstanding-totalhead {
    font-size: 18px;
    background-color: rgb(73, 0, 141);
}
/* .company-outstatnding tbody{
    max-height: 30vh;
}
.company-outstatnding thead{
    position: fixed;
} */

.outstanding-value {
    font-size: 20px;
}

.outstanding-container .outstanding-table {
    width: 71%;
}
.nextoutstanding-detail{
    transition: all 0.1s linear;
    background: linear-gradient(45deg,#de6262 , #ffb88c)

}
.nextoutstanding-detail:hover {
    transform: scale(1.06);
}

@media screen and (max-width:786px){
    .outstanding-container{
        flex-direction: column;
    }
    .outstanding-container .oustanding-details {
        width: 100%;
        padding: 0px 2%;
    }
    .outstanding-container .outstanding-table {
        width: 96%;
        margin:2%;
    }
}