.ticket_dash{
    /* border: 1px solid black; */
    width: 99%;
    margin: 10px 8px;
    min-height: 63vh;
    max-width: 100%;
    padding-top: 10px;
    padding-left: 10px;

}
.ticket_dash .ticket_card{
    height: 13vh;
    margin: 6px 10px 15px 10px;
    width: 26%;
    box-shadow: 1px 1px 2px 1px silver;
    border-radius: 3px;
    /* border: 1px solid red; */
}
.ticket_card_div{
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}
.ticket_card_content{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    padding-top:14px;
}
.tickets_icon{
    margin-right:6px;
    border-radius:50px;
    background:linear-gradient(45deg, #dc3545, #a32e39);
    color:white
}

.ticket_details{
    /* border: 1px solid black; */
    cursor: pointer;
    /* background:red; */
    text-align: center;
    width:100%;
}
.ticket_details:hover {
    -ms-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}
@media screen and (max-width: 751px) {
    .ticket_card_div{
        display: block;
    }
    .ticket_dash .ticket_card{
        width: 93%;
        height: 17vh;
    }
    .ticket_card_content{
        padding-top:27px;
    }
    .ticket_dash{
        padding-top: 0px;
    }
}
@media screen and (max-width: 400px) {

    .ticket_dash .ticket_card{
        width: 87%;
        height: 17vh;

    }
}
