* {
   margin: 0;
   padding: 0;
}

.formmaindiv {
   background: url('../../img/awlbg.jpg');
   height: 100vh;
   width: 100vw;
   /* object-fit: cover; */
   background-size: cover;

}

.formcontainer {
   /* color: aliceblue; */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* background-color: rgba(0, 0, 0, 0.5); */
   background: rgba(255,255, 255, 1); ;
   width: 400px;
   padding: 50px 30px;
   border-radius: 10px;
   box-shadow: 5px 5px 25px #000;
}

#img {
   height: 110px;
   width: 130px;
   margin-left: 50%;
   transform: translate(-50%);
}

.control input {
   width: 99%;
   margin: auto;
   height: 40px;
   padding: 5px;
   box-sizing: border-box;
}

.psw-btn {
   width: 90px;
   margin-left: 50%;
   transform: translate(-50%);
}

@media screen and (max-width:360px){
   .formcontainer{
      width: 100%;
   }
}

@media screen and (max-width:250px){
   .formcontainer{
      box-shadow: none;
   }
}