 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     /* font-family: 'Alata'; */
     /* font-family: 'Roboto'; */
     /* font-family: 'Reem Kufi' */
 }

 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 /* Firefox */
 input[type=number] {
     -moz-appearance: textfield;
 }

 .curser-pointer {
     cursor: pointer;
 }

 .main_container {
     background: #fff;
     background: url("./image/themeimg.png");
     background-size: 100% 100%;
     min-height: 77vh;
     font-family: 'Roboto';
     /* max-width: 90%; */
     max-width: 100%;
     box-shadow: 2px 1px 10px gray, -3px -3px 10px gray;
     border-radius: 10px 0px 0px 10px;
     /* border:2px solid red; */
 }

 .card-div {
     width: 60%;
     margin: 20px auto;
     background: rgb(227, 227, 229);
     box-shadow: 1px 1px 5px 1px rgb(104, 103, 103);
     border-radius: 5px;
 }

 .card-div input {
     border: none;
     border-bottom: 2px solid rgb(130, 121, 177);
     background: none;
 }

 .card-div input:focus {
     background: none;
 }

 .innermain_container {
     width: 97%;
 }



 @media screen and (min-height:850px) {
     .main_container {
         min-height: 85vh;
     }
 }

 @media screen and (min-height:1000px) {
     .main_container {
         min-height: 90vh;
     }
 }

 @media screen and (min-height:735px) {
     .main_container {
         min-height: 85vh;
     }
 }

 @media screen and (max-width:1200px) {
     .card-div {
         width: 70%;
         margin: auto;
     }

     .main_container {
         min-height: 87.3vh;

     }
 }

 @media screen and (max-width:800px) {
     .card-div {
         width: 90%;
         margin: auto;
     }

     .main_container {
         min-height: 87.3vh;

     }
 }

 @media screen and (max-width:400px) {
     .card-div {
         width: 95%;
         margin: auto;
     }
 }

 /* Button Start*/
 .btn-voilet {
     background-color: #5c55e1;
     color: #fff;
     /* transition: all 0.5s ; */
 }

 .btn-voilet:hover {
     background-color: #544ec2;
     color: #fff;
     box-shadow: 1px 1px 5px gray;
 }


 @media screen and (max-width:280px) {
     .btn-voilet {
         width: 65px;
         padding-left: 8px;
     }

     .main_container {
         min-height: 85.3vh;
     }
 }

 /* Button End*/